body {
    height: 100%;
    margin: 0;
    font: 14px sans-serif;
}

#credits {
    font: 12px sans-serif;
    padding-bottom: 1%;
}

.instructions {
    color: red;
}

.optional {
    color: darkgreen;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    margin: 0.5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.dataTableClass {
    width: 80%;
    border-collapse: collapse;
    border: 2px black solid;
}

.tableHeaderClass {
    border: 2px solid black;
    padding: 5px;
    background-color: lightgray;
    font-weight: bold;
    text-transform: uppercase;
}

.tableBodyClass {
    border: 1px solid black;
    padding: 5px;
}

svg {
    font: 10px sans-serif;
}

.container {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 10px;
    border: 0px solid black;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: black;
}

fieldset {
    border-width: 0;
}

#legend {
    border: 1px solid black;
    padding: 10px;
}

/* the style for the close-button in the legend */
.close {
    display: inline-block;
    padding: 1px 5px;
    margin: 4px;
    border: 1px solid black;
    color: #000;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.close:hover {
    background: #ddd;
    cursor: pointer;
}

/* the style for the circle in the legend */
.color-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* the style for dots in the scatterplot */
.dot {
    cursor: pointer;
}

/* tooltip for the scatterplot */
div.tooltip {
    position: absolute;
    text-align: left;
    padding: .2rem;
    margin: 1rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}


/* DASHBOARD CSS */
.dashboardGrid {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* MAP, TIMELINE AND MAP LEGEND */
.main_charts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-legend {
    margin: 10px 0;
    padding: 7px;
    border: #bbbbbb solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.map-legend .remove-country-button {
    margin-right: 20px;
    background-color: white;
    border: #bbbbbb solid 1px;
    cursor: pointer;
    color: #777777;
    transition: 300ms ease-in-out;
}
.map-legend .remove-country-button:hover {
    background-color: whitesmoke;
}

    /* MAP, TIMELINE*/
.map {
    width: 80%;
}

/* MAP LEGEND*/
.map_legend {
    padding: 10px;
    width: 15%;
    border-top: #bbbbbb solid 1px;
    border-left: #bbbbbb solid 1px;
}

/* MAP*/
.country {
    stroke: #bbbbbb;
    cursor: pointer;
    fill: whitesmoke;
    vector-effect: non-scaling-stroke;
}
.country:hover {
    fill: lightblue;
}

/* MAP HOVERING LINE-CHART */
.map-tooltip {
    width: 240px;
    height: 350px;
    position: absolute;
    background-color: #1a1a1a;
    border: #bbbbbb solid 1px;
    border-radius: 4px;
    box-shadow: 0 0 4px #bbbbbb;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    align-items: start;

    font-size: 12px;
}
.map-tooltip-header {
    padding: 6px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: solid 1px #bbbbbb;
    background-color: whitesmoke;
    width: 100%;
    box-sizing: border-box;
}
.map-tooltip-charts-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* TIMELINE */
#play-button {
    width: 70%;
    height: 100%;
    background-color: whitesmoke;
    cursor: pointer;
    border: #bbbbbb solid 1px;
    transition: 0.3s ease-in-out;
    font: bold 12px Helvetica;
    color: dimgray;
}
#play-button:hover {
    background-color: lightgray;
}
/* TIMELINE LEGEND */
.timeline-range {
    stroke: #bbbbbb;
    stroke-width: 2px;
    cursor: pointer;
}

.no-data {
    fill: black;
}
/*
.first-interval {
    fill: #f7fcfd;
}
.second-interval {
    fill: #e0ecf4;
}
.third-interval {
    fill: #bfd3e6;
}
.fourth-interval {
    fill: #9ebcda;
}
.fifth-interval {
    fill: #8c96c6;
}
.sixth-interval {
    fill: #8c6bb1;
}
.seventh-interval {
    fill: #88419d;
}
.eighth-interval {
    fill: #540051;
}
 */

.first-interval {
    fill: #ffffe5;
}
.second-interval {
    fill: #f7fcb9;
}
.third-interval {
    fill: #d9f0a3;
}
.fourth-interval {
    fill: #addd8e;
}
.fifth-interval {
    fill: #78c679;
}
.sixth-interval {
    fill: #41ab5d;
}
.seventh-interval {
    fill: #238443;
}
.eighth-interval {
    fill: #005a32;
}

/* TIMELINE SLIDER */
.slider-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.slider-container .year-container {
    padding: 5px;
    text-align: center;
    width: 5%;
    background-color: whitesmoke;
    font: bold 12px Helvetica;
    color: #5b5b5b;
    border: #bbbbbb solid 1px;
}
.slider-container #slider {
    overflow: visible;
}


/* OTHER CHARTS */
.dashboardGrid .charts {
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parallel-chart {
    width: 50%;
    height: 100%;
    align-self: stretch;
    background-color: whitesmoke;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 2px #bbbbbb;
}
.parallel-chart svg {
    overflow: visible;
}
.data-line {
    cursor: pointer;
}

.scatterplot {
    width: 50%;
    height: 100%;
    align-self: stretch;
    background-color: whitesmoke;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 2px #bbbbbb;
}

/* scatterplot x axis ticks */
.x-axis text {
    font-size: 20px; 
    fill: #333; 
}

/* scatterplot y axis ticks */
.y-axis text {
    font-size: 20px; 
    fill: #333; 
}

.x-axis-label,
.y-axis-label {
    font-family: sans-serif; 
    font-size: 24px; 
    font-weight: bold;
    fill: #555; 
}



/* CONTINENT LEGEND */
.continent-legend {
    display: flex;
    justify-content: space-evenly; /* Even spacing between items */
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 8px 0;
    font-family: sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.legend-line {
    width: 30px;
    height: 2px;
    background-color: black; /* default color, will be overridden */
}
